.section.grey.about
	.titulo
		h2 about me
		
	.about__graphics-cont
		
		.image-cont
			.image-frame
				img(src="https://www.macfound.org/media/staff_photos/Theo-Kalionzes.jpg", alt="")
				
		.graphics
			.bar-container.bar-red
				span branding
				.bar-underline
					.bar-inside
			
			.bar-container.bar-green
				span editorial
				.bar-underline
					.bar-inside
			
			.bar-container.bar-orange
				span web
				.bar-underline
					.bar-inside
	
	.about__text-cont
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus metus eu elit sollicitudin ultrices sed a arcu. Integer ullamcorper pharetra est. Pellentesque aliquet ipsum sit amet ultricies porta. Donec lorem mauris, viverra vel vestibulum non, sollicitudin tempor lacus. Morbi finibus libero nec sodales ornare.
			br
			|Quisque quis est vitae magna dignissim ornare. Integer tristique sed diam eu accumsan. Quisque ut porttitor ligula. Sed sit amet condimentum eros. Cras at felis vel metus tempor finibus consequat eget orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
