header.header
	.header__logo-cont
		include ../svg/logo.svg
		#header-bubble.header__logo__bubble
			span heeeeyyyyy, sup?
	.header__content
		span.nombre MAURICIO SANTAELLA
		span portfolio
		span branding / print / web
