.lightboxes



	#web-1.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/stirpe-web.jpg", alt="")
		.imagen-footer
			a(href="https://stirpe.co/" target="_blank").btn-website launch website
			
	#web-2.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/derek-web.jpg", alt="")
		.imagen-footer
			a(href="https://derek.co/" target="_blank").btn-website launch website
			
	#web-3.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/citolab.jpg", alt="")
		.imagen-footer
			a(href="http://www.citolab.com.co/" target="_blank").btn-website launch website
			
	#web-4.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/colegio.jpg", alt="")
		.imagen-footer
			a(href="http://gorettibucaramanga.edu.co/site/" target="_blank").btn-website launch website
			
	#web-5.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/diegocastro.jpg", alt="")
		.imagen-footer
			a(href="http://entornosdc.co/" target="_blank").btn-website launch website
			
	#web-6.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/distritech.jpg", alt="")
		.imagen-footer
			a(href="portafolio/distritech" target="_blank").btn-website launch website
			
	#web-7.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/estudienaustralia.jpg", alt="")
		.imagen-footer
			a(href="http://australialatino.com/" target="_blank").btn-website launch website
			
	#web-8.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/llantas.jpg", alt="")
		.imagen-footer
			a(href="http://www.llantasalineacionybalanceobucaramanga.com/" target="_blank").btn-website launch website
			
	#web-9.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/loviu.jpg", alt="")
		.imagen-footer
			a(href="portafolio/navegaconnosotros" target="_blank").btn-website launch website
			
	#web-10.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/parche.jpg", alt="")
		.imagen-footer
			a(href="portafolio/parche" target="_blank").btn-website launch website
			
	#web-11.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/navega.jpg", alt="")
		.imagen-footer
			a(href="img/web/" target="_blank").btn-website launch website
			
	#web-12.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/viveloft.jpg", alt="")
		.imagen-footer
			a(href="portafolio/viveloft" target="_blank").btn-website launch website
			
	#web-13.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/web/perfect.jpg", alt="")
		.imagen-footer
			a(href="http://lipoesculturacolombia.com.co/" target="_blank").btn-website launch website



	#brand-1.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/ardiscon.jpg", alt="")
				
	#brand-2.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/distritech.jpg", alt="")
				
	#brand-3.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/jr.jpg", alt="")
				
	#brand-4.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/oscarnavarro.jpg", alt="")
				
	#brand-5.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/ricuras.jpg", alt="")
				
	#brand-6.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/silvergold.jpg", alt="")
				
	#brand-7.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/udivirtual.jpg", alt="")
				
	#brand-8.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/sui.jpg", alt="")
				
	#brand-9.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/wasabi.jpg", alt="")
				
	#brand-10.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/zuaty.jpg", alt="")
				
	#brand-11.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/serankwa.jpg", alt="")
				
	#brand-12.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/lolypet.jpg", alt="")
				
	#brand-13.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/bianko.jpg", alt="")
				
	#brand-14.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/sanagustin.jpg", alt="")
				
	#brand-15.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/sanagustin-2.jpg", alt="")
				
	#brand-16.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/jean-paul.jpg", alt="")
				
	#brand-17.imagen-portafolio-container
		.imagen-portafolio
			img(src="img/branding/lire2.jpg", alt="")
