.section.grey.portfolio
	
	.titulo
		h2 PORTFOLIO
		
	//- .portfolio__ctrls-cont
	//- 	a.btn-portfolio(href="#") branding
	//- 	a.btn-portfolio(href="#") editorial
	//- 	a.btn-portfolio(href="#") web
		
	.portfolio__content-cont
		
		

		
		
		
		
		.portfolio__item-blue.title
			span brand
			
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/ardiscon_thumb.jpg", alt="")
			.item-hover
				span Ardiscon | Engineering
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/distritech_thumb.jpg", alt="")
			.item-hover
				span Distritech | Comunications
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/jr_thumb.jpg", alt="")
			.item-hover
				span JR Engineering | Civil Engineering
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/oscarnavarro_thumb.jpg", alt="")
			.item-hover
				span Oscar Navarro | Shoes
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/ricuras_thumb.jpg", alt="")
			.item-hover
				span Ricuras Paisas | Restaurant
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/silvergold_thumb.jpg", alt="")
			.item-hover
				span Silver & gold | Jewelry
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/udivirtual_thumb.jpg", alt="")
			.item-hover
				span UDI Virtual | Virtual Education
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/sui_thumb.jpg", alt="")
			.item-hover
				span Servicion Urbanos Integrales | legal advice
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/wasabi_thumb.jpg", alt="")
			.item-hover
				span Wasabi | Sushi House
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/zuaty_thumb.jpg", alt="")
			.item-hover
				span Zuaty | Busisness center 
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/serankwa_thumb.jpg", alt="")
			.item-hover
				span Serankua | Beekeepers society
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/lolypet_thumb.jpg", alt="")
			.item-hover
				span Loly Pet | Pet Fashion
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/bianko_thumb.jpg", alt="")
			.item-hover
				span Bianko Wok | Asian Wok
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/sanagustin_thumb.jpg", alt="")
			.item-hover
				span SanAgustin | Agricultural Society
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/sanagustin-2_thumb.jpg", alt="")
			.item-hover
				span SanAgustin | Agricultural Society | rebranding
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/jean-paul_thumb.jpg", alt="")
			.item-hover
				span Jean Paul | Architect
		.portfolio__item-blue
			a(href="#" data-featherlight="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/lire2_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
		



		.portfolio__item-orange.title
			span web
			
			
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/stirpe-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/derek-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/citolab-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/colegio-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/diegocastro-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/distritech-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/estudienaustralia-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/llantas-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/loviu-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/parche-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/navega-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/viveloft-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-orange
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/web/perfect-web_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
		
		


		.portfolio__item-red.title
			span print
			
			
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-8_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-7_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-6_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-5_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-4_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-68_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-67_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-66_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-65_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-64_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-63_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-62_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/diamante_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
				
		.portfolio__item-red
			a(href="#" data-featherlight="#print-1").portfolio__link
				img.portfolio__img(src="img/editorial/diaflo_thumb.jpg", alt="")
			.item-hover
				span Lire 2 | weather measurement software
