.section.grey.portfolio
	
	.titulo
		h2 PORTFOLIO
		
	//- .port__ctrls-cont
	//- 	a.btn-portfolio.green(href="#") branding
	//- 	a.btn-portfolio.red(href="#") editorial
	//- 	a.btn-portfolio.orange(href="#") web
		
	.port__content-cont
		
		.port__item.red.title
			span branding
		.port__item
			img.port__img(src="img/branding/ardiscon_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-1") Ardiscon | Engineering
		.port__item
			img.port__img(src="img/branding/distritech_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-2") Distritech | Comunications
		.port__item
			img.port__img(src="img/branding/jr_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-3") JR Engineering | Civil Engineering
		.port__item
			img.port__img(src="img/branding/oscarnavarro_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-4") Oscar Navarro | Shoes
		.port__item
			img.port__img(src="img/branding/ricuras_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-5") Ricuras Paisas | Restaurant
		.port__item
			img.port__img(src="img/branding/silvergold_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-6") Silver & gold | Jewelry
		.port__item
			img.port__img(src="img/branding/udivirtual_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-7") UDI Virtual | Virtual Education
		.port__item
			img.port__img(src="img/branding/sui_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-8") Servicion Urbanos Integrales | legal advice
		.port__item
			img.port__img(src="img/branding/wasab_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-9") Wasabi | Sushi House
		.port__item
			img.port__img(src="img/branding/zuaty_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-10") Zuaty | Building 
		.port__item
			img.port__img(src="img/branding/serankwa_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-11") Serankua | Beekeepers society
		.port__item
			img.port__img(src="img/branding/lolypet_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-12") Loly Pet | Pet Fashion
		.port__item
			img.port__img(src="img/branding/bianko_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-13") Bianko Wok | Asian Wok
		.port__item
			img.port__img(src="img/branding/sanagustin_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-14") SanAgustin | Agricultural Society
		.port__item
			img.port__img(src="img/branding/sanagustin-2_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-15") SanAgustin | Agricultural Society | rebranding
		.port__item
			img.port__img(src="img/branding/jean-paul_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-16") Jean Paul | Architect
		.port__item
			img.port__img(src="img/branding/lire2_thumb.jpg", alt="")
			.item-hover
				a.item-link(href="#" data-featherlight="#branding-17") Lire 2 | weather measurement software
