.section.grey.portfolio
	
	.titulo
		h2 PORTFOLIO
		
	//- .portfolio__ctrls-cont
	//- 	a.btn-portfolio(href="#") branding
	//- 	a.btn-portfolio(href="#") editorial
	//- 	a.btn-portfolio(href="#") web
		
	.portfolio__content-cont
		
		.portfolio__item-orange.title
			span web
			
			
		.portfolio__item-orange
			a(href="#" l-box="#web-1").portfolio__link
				img.portfolio__img(src="img/web/stirpe-web_thumb.jpg", alt="")
			.item-hover
				span stirpe.co <br> online fashion store
				
		.portfolio__item-orange
			a(href="#" l-box="#web-2").portfolio__link
				img.portfolio__img(src="img/web/derek-web_thumb.jpg", alt="")
			.item-hover
				span derek.co <br> online fashion store
				
		.portfolio__item-orange
			a(href="#" l-box="#web-3").portfolio__link
				img.portfolio__img(src="img/web/citolab-web_thumb.jpg", alt="")
			.item-hover
				span citolab <br> cytology laboratory
				
		.portfolio__item-orange
			a(href="#" l-box="#web-4").portfolio__link
				img.portfolio__img(src="img/web/colegio-web_thumb.jpg", alt="")
			.item-hover
				span goretti school <br> middle / high school
				
		.portfolio__item-orange
			a(href="#" l-box="#web-5").portfolio__link
				img.portfolio__img(src="img/web/diegocastro-web_thumb.jpg", alt="")
			.item-hover
				span Diego Castro <br> Architect
				
		.portfolio__item-orange
			a(href="#" l-box="#web-6").portfolio__link
				img.portfolio__img(src="img/web/distritech-web_thumb.jpg", alt="")
			.item-hover
				span Distritech <br> Telecomunication company
				
		.portfolio__item-orange
			a(href="#" l-box="#web-7").portfolio__link
				img.portfolio__img(src="img/web/estudienaustralia-web_thumb.jpg", alt="")
			.item-hover
				span Estudienaustralia <br> Education agency abroad
				
		.portfolio__item-orange
			a(href="#" l-box="#web-8").portfolio__link
				img.portfolio__img(src="img/web/llantas-web_thumb.jpg", alt="")
			.item-hover
				span Llantas y Rines <br> Tires and rims clinic 
				
		.portfolio__item-orange
			a(href="#" l-box="#web-9").portfolio__link
				img.portfolio__img(src="img/web/loviu-web_thumb.jpg", alt="")
			.item-hover
				span Loviu <br> Fruit Arrangements
				
		.portfolio__item-orange
			a(href="#" l-box="#web-10").portfolio__link
				img.portfolio__img(src="img/web/parche-web_thumb.jpg", alt="")
			.item-hover
				span Tu Parche <br> online campaign
				
		.portfolio__item-orange
			a(href="#" l-box="#web-11").portfolio__link
				img.portfolio__img(src="img/web/navega-web_thumb.jpg", alt="")
			.item-hover
				span Navega con Nosotros <br> Hotel services catalog
				
		.portfolio__item-orange
			a(href="#" l-box="#web-12").portfolio__link
				img.portfolio__img(src="img/web/viveloft-web_thumb.jpg", alt="")
			.item-hover
				span ViveLoft <br> Magazine website
				
		.portfolio__item-orange
			a(href="#" l-box="#web-13").portfolio__link
				img.portfolio__img(src="img/web/perfect-web_thumb.jpg", alt="")
			.item-hover
				span Perfect Body <br> spa promotion landing-page
		

		
		
		
		
		.portfolio__item-blue.title
			span brand
			
		.portfolio__item-blue
			a(href="#" l-box="#brand-1").portfolio__link
				img.portfolio__img(src="img/branding/ardiscon_thumb.jpg", alt="")
			.item-hover
				span Ardiscon <br> Engineering
		.portfolio__item-blue
			a(href="#" l-box="#brand-2").portfolio__link
				img.portfolio__img(src="img/branding/distritech_thumb.jpg", alt="")
			.item-hover
				span Distritech <br> Comunications
		.portfolio__item-blue
			a(href="#" l-box="#brand-3").portfolio__link
				img.portfolio__img(src="img/branding/jr_thumb.jpg", alt="")
			.item-hover
				span JR Engineering <br> Civil Engineering
		.portfolio__item-blue
			a(href="#" l-box="#brand-4").portfolio__link
				img.portfolio__img(src="img/branding/oscarnavarro_thumb.jpg", alt="")
			.item-hover
				span Oscar Navarro <br> Shoes
		.portfolio__item-blue
			a(href="#" l-box="#brand-5").portfolio__link
				img.portfolio__img(src="img/branding/ricuras_thumb.jpg", alt="")
			.item-hover
				span Ricuras Paisas <br> Restaurant
		.portfolio__item-blue
			a(href="#" l-box="#brand-6").portfolio__link
				img.portfolio__img(src="img/branding/silvergold_thumb.jpg", alt="")
			.item-hover
				span Silver & gold <br> Jewelry
		.portfolio__item-blue
			a(href="#" l-box="#brand-7").portfolio__link
				img.portfolio__img(src="img/branding/udivirtual_thumb.jpg", alt="")
			.item-hover
				span UDI Virtual <br> Virtual Education
		.portfolio__item-blue
			a(href="#" l-box="#brand-8").portfolio__link
				img.portfolio__img(src="img/branding/sui_thumb.jpg", alt="")
			.item-hover
				span Servicion Urbanos Integrales <br> legal advice
		.portfolio__item-blue
			a(href="#" l-box="#brand-9").portfolio__link
				img.portfolio__img(src="img/branding/wasabi_thumb.jpg", alt="")
			.item-hover
				span Wasabi <br> Sushi House
		.portfolio__item-blue
			a(href="#" l-box="#brand-10").portfolio__link
				img.portfolio__img(src="img/branding/zuaty_thumb.jpg", alt="")
			.item-hover
				span Zuaty <br> Busisness center 
		.portfolio__item-blue
			a(href="#" l-box="#brand-11").portfolio__link
				img.portfolio__img(src="img/branding/serankwa_thumb.jpg", alt="")
			.item-hover
				span Serankua <br> Beekeepers society
		.portfolio__item-blue
			a(href="#" l-box="#brand-12").portfolio__link
				img.portfolio__img(src="img/branding/lolypet_thumb.jpg", alt="")
			.item-hover
				span Loly Pet <br> Pet Fashion
		.portfolio__item-blue
			a(href="#" l-box="#brand-13").portfolio__link
				img.portfolio__img(src="img/branding/bianko_thumb.jpg", alt="")
			.item-hover
				span Bianko Wok <br> Asian Wok
		.portfolio__item-blue
			a(href="#" l-box="#brand-14").portfolio__link
				img.portfolio__img(src="img/branding/sanagustin_thumb.jpg", alt="")
			.item-hover
				span SanAgustin <br> Agricultural Society
		.portfolio__item-blue
			a(href="#" l-box="#brand-15").portfolio__link
				img.portfolio__img(src="img/branding/sanagustin-2_thumb.jpg", alt="")
			.item-hover
				span SanAgustin <br> Agricultural Society | Rebranding
		.portfolio__item-blue
			a(href="#" l-box="#brand-16").portfolio__link
				img.portfolio__img(src="img/branding/jean-paul_thumb.jpg", alt="")
			.item-hover
				span Jean Paul <br> Architect
		.portfolio__item-blue
			a(href="#" l-box="#brand-17").portfolio__link
				img.portfolio__img(src="img/branding/lire2_thumb.jpg", alt="")
			.item-hover
				span Lire 2 <br> weather measurement software
		



		
		


		.portfolio__item-red.title
			span print
			
			
		.portfolio__item-red
			a(href="https://issuu.com/viveloft/docs/viveloft_8_2" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-8_thumb.jpg", alt="")
			.item-hover
				span ViveLoft #8 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/viveloft/docs/revistaviveloft7" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-7_thumb.jpg", alt="")
			.item-hover
				span ViveLoft #7 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/viveloft/docs/www.revistaviveloft.com" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-6_thumb.jpg", alt="")
			.item-hover
				span ViveLoft #6 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/viveloft/docs/viveloft5" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-5_thumb.jpg", alt="")
			.item-hover
				span ViveLoft #5 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/viveloft/docs/viveloft4" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/viveloft-4_thumb.jpg", alt="")
			.item-hover
				span ViveLoft #4 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/mao8a87/docs/fv68_b_-_entrega_para_aprobacion_fi" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-68_thumb.jpg", alt="")
			.item-hover
				span FacilVivir #68 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/mao8a87/docs/fv67-_e8-_27-11-14" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-67_thumb.jpg", alt="")
			.item-hover
				span FacilVivir #67 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/mao8a87/docs/revista_facil_vivir__66_-_10" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-66_thumb.jpg", alt="")
			.item-hover
				span FacilVivir #66 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/mao8a87/docs/revista_facil_vivir__65_e11_correcc" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-65_thumb.jpg", alt="")
			.item-hover
				span FacilVivir #65 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/mao8a87/docs/entrega_fv64_20-11-2013_-_2" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-64_thumb.jpg", alt="")
			.item-hover
				span  FacilVivir #64 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/mao8a87/docs/entrega_20-08-2013_f" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-63_thumb.jpg", alt="")
			.item-hover
				span FacilVivir #63 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/mao8a87/docs/revista_facil_vivir_62" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/facilvivir-62_thumb.jpg", alt="")
			.item-hover
				span FacilVivir #62 Magazine <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/mao8a87/docs/revista_diamante_entrega_28-02-16" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/diamante_thumb.jpg", alt="")
			.item-hover
				span Diamante Magazine #1 <br> Design and Layout
				
		.portfolio__item-red
			a(href="https://issuu.com/mao8a87/docs/diana_final_nico_mao" target="_blank").portfolio__link
				img.portfolio__img(src="img/editorial/diaflo_thumb.jpg", alt="")
			.item-hover
				span graduation project book <br> Design and Layout
